.poststoc-category-title
{
}
.poststoc-list
{
}
.poststoc-published
{
    font-size: x-small;
    margin-right: 1em;
}
.poststoc-updated
{
    display: none;
}
.poststoc-title
{
}
.poststoc-entry
{
}
