#main .poststoc-category-title
{
}
#main .poststoc-list
{
}
#main .poststoc-published
{
    font-size: x-small;
    margin-right: 1em;
}
#main .poststoc-updated
{
    display: none;
}
#main .poststoc-title
{
}
#main .poststoc-entry
{
}
